.mysearchBgd {
  background-color: white;
}

h1 {
  padding-top: 50px;
  color: #5986cb;
}

button {
  margin-top: 50px;
  margin-bottom: 50px;
}

#mysearchButton {
  display: flex;
  width: 180px;
  height: 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-left: 97px;
}

li img {
  margin-top: 20px;
  margin-left: 8px;
}

ul {
  margin-bottom: 25px;
}