input:focus, textarea:focus, select:focus{
    outline: none;
}

.input1{
    display: flex;
    height: 35px;
    font-size: 16px;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    background: #FFF; 
    border: 0;
    width: 340px;
    opacity: 0.8;
    padding-left: 10px;
    margin: 5% 10px;
}

.input2{
    background-color: #96ACCE;
    display: flex;
    height: 35px;
    font-size: 16px;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    background: #96ACCE; 
    border: 0;
    width: 340px;
    opacity: 0.8;
    padding-left: 10px;
    margin: 5% 10px;
}
